<h1><%= @activities.activity_name%></h1>

<p>Category: <%= @activities.category %></p>

<p>Capacity: <%= @activities.capacity %></p>

<p>Available Slots: <%= @activities.available_slots %></p>
<p> Description: <%= @activities.description %> </p>

<table>
  <tr>
    <th>Members Booked into <%= @activities.activity_name%></th>
  </tr>
  <tr>
  <% @activities.members.each do |member| %>
  <tr>
    <td><%= member.full_name %></td>
  </tr>
  <% end %>
</table>
<hr>


<a href="/activities/<%= @activities.id %>/edit">Edit</a>
<form action="/activities/<%= @activities.id %>/delete" method="POST"><input type="submit" value="Delete activity"></form>
